{% include "x.html" %}
<BODY>
    <ASIDE>
        <h1>Help</h1>
        <P>
            <B>Device Status</B> page provides you with the current status of the device and the list of channels.
        </P>
        <P>
            All information is read-only and cannot be modified.
        </P>
        <P>
            Field <B>Device Status</B> displays the current status of the device (Active or Inactive).
        </P>
        <P>
            Field <B>Receiver Enabled</B> shows whether the receiver is enabled or not. Receiver may be enabled only in certain software versions.
        </P>
        <P>
            Field <B>Channels Available</B> shows the number of channels available for viewing.
        </P>
        <P>
            Field <B>IP Address</B> shows the IP address of the device. It is now assigned only by DHCP, static configuration will be available in future versions.
        </P>
        <P>
            Fields <B>Subnet Mask</B> and <B>Internet Gateway</B> show current internet settings of the device.
        </P>
        <P>
            Fields <B>Channel Frequency N</B> show the frequency of available channels. If the field is marked as N/A, the channel is not available.
        </P>
        <P>
            <B>System Upgrade</B> page allows you to upgrade the device software to the latest version.
        </P>
        <P>
            You should download the upgrade file from the manufacturer's website and upload it to the device.
        </P>
        <P>
            To upgrade this device's firmware, follow these instructions:
        </P>
        <P>
            1. Download the latest firmware from the manufacturer's website.
        </P>
        <P>
            2. Click the "Browse" button and select the firmware file.
        </P>
        <P>
            3. Click the "Install" button to start the upgrade process.
        </P>
        <P>
            4. The device needs to be restarted after the upgrade is complete.
        </P>
        <P>
            Field <B>Firmware version</B> shows the current version of the firmware.
        </P>
        <P>
            Field <B>Hardware version</B> shows the current version of the hardware. The firmware version should be compatible with the hardware version.
        </P>
        <P>
            <B>Note:</B> Do not turn off the device during the upgrade process. The upgrade process may take several minutes. Loss of power during the upgrade process may damage the device.
        </P>
    </ASIDE>
</BODY>
