{% include "header.html" %}
<TABLE WIDTH="100%" STYLE="HEIGHT: CALC(100VH - 100PX);">
<TR>
<TD VALIGN="MIDDLE" ALIGN="CENTER">
<FORM METHOD="POST">
    <P>
        <IMG SRC="/static/USER.PNG" width="20" height="20" />
        <INPUT TYPE="TEXT" PLACEHOLDER="Username" NAME="login" />
    </P>
    <P>
        <IMG SRC="/static/PASSWORD.PNG" width="20" height="20" />
        <INPUT TYPE="PASSWORD" PLACEHOLDER="Password" NAME="password" />
    </P>
    <DIV>
        <BUTTON TYPE="SUBMIT">Login</BUTTON>
    </DIV>
    <FOOTER>
        Copyright C 2007 Tv-Link Manufacturing Inc. LTD All rights reserved
    </FOOTER>
</FORM>
</TD>
</TR>
</TABLE>
