@FONT-FACE {
    FONT-FAMILY: "Arial";
    SRC: URL("/static/A.woff") FORMAT("WOFF");
    FONT-WEIGHT: NORMAL;
    FONT-STYLE: NORMAL;
}

@FONT-FACE {
    FONT-FAMILY: "Arial";
    SRC: URL("/static/AB.woff") FORMAT("WOFF");
    FONT-WEIGHT: BOLD;
    FONT-STYLE: NORMAL;
}

HTML, BODY, FRAMESET {
    MARGIN: 0;
    PADDING: 0;
    BOX-SIZING: BORDER-BOX;
}

HTML {
    FONT-FAMILY: "Arial";
    FONT-SIZE: 15PX;
}

HEADER {
    HEIGHT: 100PX;
    DISPLAY: FLEX;
    FLEX-DIRECTION: ROW;
    BACKGROUND: LINEAR-GRADIENT(rgba(0, 0, 255, 0.2) 0%, blue 20%, blue 100%);
    BORDER: 4PX SOLID BLUE;
    BORDER-STYLE: INSET;
    COLOR: WHITE;
    PADDING: 1EM;
    BOX-SIZING: BORDER-BOX;
    ALIGN-ITEMS: CENTER;
    JUSTIFY-CONTENT: SPACE-BETWEEN;
}

HEADER H1 {
    FONT-SIZE: 1EM;
    FONT-WEIGHT: BOLD;
    MARGIN: 0;
}

HEADER P{
    MARGIN: 0;
    FONT-SIZE: 0.9EM;
}

NAV {
    HEIGHT: 100VH;
    BACKGROUND: LIGHTYELLOW;
    PADDING: 1.5EM 0 0;
    BOX-SIZING: BORDER-BOX;
}

NAV UL {
    LIST-STYLE-TYPE: NONE;
    PADDING: 0;
    MARGIN: 0;
}

NAV LI {
    PADDING: 0.4EM 1EM;
    MARGIN-BOTTOM: 0.3EM;
    BACKGROUND-COLOR: #734a12;
}

NAV A {
    DISPLAY: INLINE-BLOCK;
    TEXT-DECORATION: NONE;
    COLOR: RGBA(255, 255, 255, 0.9);
    WIDTH: 100%;
}

NAV LI:HOVER {
    BACKGROUND-COLOR: #593315;
}

NAV LI:HOVER A {
    COLOR: WHITE;
}

ERROR {
    DISPLAY: BLOCK;
    HEIGHT: 100VH;
    BACKGROUND: LIGHTCORAL;
    PADDING: 1EM;
    BOX-SIZING: BORDER-BOX;
}

ERROR P {
    COLOR: DARKRED;
}

MAIN {
    DISPLAY: BLOCK;
    MIN-HEIGHT: 100VH;
    background-color: lightseagreen;
    PADDING: 1EM;
    BOX-SIZING: BORDER-BOX;
}

ASIDE {
    DISPLAY: BLOCK;
    MIN-HEIGHT: 100VH;
    background-color: lightsteelblue;
    PADDING: 1EM;
    BOX-SIZING: BORDER-BOX;
}

PRE {
    BACKGROUND: LIGHTGRAY;
    MAX-WIDTH: 100%;
    HEIGHT: CALC(100% - 4EM);
    OVERFLOW: SCROLL;
    PADDING: 0.5EM;

}

H1 {
    FONT-SIZE: 1.25EM;
    MARGIN: 0.6EM 0;
}

P {
    MARGIN: 0.6EM 0;
}

INPUT, BUTTON {
    FONT: INHERIT;
}

BUTTON {
    PADDING: 0.1EM 1EM;
}

DL {
    DISPLAY: GRID;
    GRID-TEMPLATE-COLUMNS: MAX-CONTENT 1FR;
    GRID-GAP: 0.5EM 1.5EM;
}

DT {
    FONT-WEIGHT: BOLD;
    TEXT-ALIGN: RIGHT;
}

DD {
    MARGIN: 0 0 0.3EM;
}

TABLE {
    BACKGROUND: LIGHTGRAY;
}

FOOTER {
    FONT-SIZE: 0.75EM;
    COLOR: DARKGRAY;
    MARGIN-TOP: 3EM;
}

TABLE P * {
    VERTICAL-ALIGN: MIDDLE;
}
